.card {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  color: #fff;
  max-height: 300px;
  overflow: auto;
  border: 1px solid #333;
}

.header {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.header p {
  margin: 0;
  font-size: 13px;
  color: #888;
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}
.viewAllBtn {
  /* background: #222; */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  width: max-content;
  border: 1px #333 solid;
}
.viewAllBtn:hover {
  background: #1a1a1a;
  border-color: #4da3ff;
  color: #4da3ff;
}
.projectItem {
  display: flex;
  align-items: flex-start;
  background: #1a1a1a;
  border-radius: 10px;
  padding: 12px;
  gap: 12px;
  transition: background 0.2s ease;
  border: 1px solid #333;
}

.projectItem:hover {
  background: #222;
  cursor: pointer;
}

.thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  background: #333;
}

.details {
  flex: 1;
}

.details h4 {
  font-size: 15px;
  margin: 0 0 4px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.details h4 i {
  color: gold;
  font-size: 13px;
}

.details p {
  margin: 0;
  font-size: 13px;
  color: #bbb;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.tag {
  background: #333;
  padding: 2px 8px;
  border-radius: 6px;
  font-size: 12px;
  color: #aaa;
  text-transform: lowercase;
}

.year {
  font-size: 12px;
  color: #777;
  display: flex;
  align-items: center;
  gap: 4px;
}

.button {
   margin-top: 10px;
  background: #0c0c0c;
  padding: 8px 12px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  width: 100%;
  border: 1px #1d1d1d solid;
  letter-spacing: 1px;
}
.button:hover {
  background: #1d1d1d;
  border-color: #333;
}
.button i {
  margin-right: 6px;
}
.icon {
    border: 1px #333 solid;
    width: 40px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    color: #4da3ff;
}
.details p {
  display: -webkit-box;
  -webkit-line-clamp: 2;   /* maximum 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
