/* src/app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
}

a {
  text-decoration: none;
  color: #4da3ff;
}

.container {
  display: flex;
  padding: 20px;
  gap: 20px;
  width: 1200px;
  margin: 0 auto;
}
/* Scrollbar base */
::-webkit-scrollbar {
  width: 8px;         /* scrollbar ki width */
  height: 8px;        /* horizontal scrollbar ke liye */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #111;    /* dark background */
  border-radius: 10px;
}

/* Thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background: #444;    /* thumb color */
  border-radius: 10px;
}

/* Thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #666;    
}
